body{
    font-family: Roboto;
}

.card {
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.card-body {
    display: flex;
    flex-wrap: wrap;
}

div.dashboard-menu {
    position: relative;
    width: 206px;
    height: 203px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    flex: 0.5 0.5 auto;
    margin: 10px;
}

div.dashboard-menu:hover {
    opacity: 0.5;
    cursor: pointer;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.break {
    flex-basis: 100%;
    height: 0;
  }
    
div.dashboard-menu-gambar {
    width: 110px;
    height: 110px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

div.dashboard-menu-title {
    width: 100%;
    margin: 0;
    font-weight: bold;
    text-align: center;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.dashboard-menu .badge {
    position: absolute;
    top: -10px;
    right: -10px;
    padding: 5px 10px;
    border-radius: 50%;
    background-color: red;
    color: white;
    font-size: x-large;
  }

.table-users {
    width: 100%;
}

.table-users tr {
    border-bottom: solid 1px;
}

.table-users td {
    padding: 10px 0px;
}

.table-users tr:hover {
    color: blue;
}

.fa-check {
    color: #47AF45;
    cursor: pointer;
    margin-right: 20px;
}

.fa-times {
    color: #BC3434;
    cursor: pointer;
}

.fa-arrow-alt-circle-right {
    color: #47AF45;
    cursor: pointer;
    font-size: 20px;
}

.table-user {
    width: 100%;
}

.table-user img {
    width: 300px;
    cursor: pointer;
}
