// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap'; 

.cont-screen {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.cont-screen .sidebar{
    display: inline-block;
    vertical-align: top;
    height: 100%;
    width: 20%;
    // overflow: hidden;
}

.cont-screen .content{
    display: inline-block;
    vertical-align: top;
    height: 100%;
    width: 80%;
    overflow: auto;
}
  
.img-fluid{
    height: 50px;
    width: 110px;
    // border: 1px solid black;
}

.cont-nav-profile{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
    // border: 1px solid black;
}

.bingkai-img{
    display: flex;
    background-color: #1F3C78;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border-radius: 10px;
    margin: 0px 5px;
}

.cont-dis-profile{
    // border: 1px solid black; 
    height: 50px;
    display: flex;
    flex-direction: column;
    padding: 2px 5px;
}

.cont-dis-profile .cont-name {
    // display:  flex;
    // align-items: center;
    // border: 1px solid black;
    height: 10;
    padding: 0px 7px;
}

.name{
    font-size: 14px;
    // border: 1px solid black;
    display: block;
    height: 100%;
    color: black;
    font-weight: bold;
}

.cont-nav-profile .bingkai-img .img-fluid{
    height: 20px;
    width: 20px;
}