// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap'; 

.cont-screen {
    display: flex;
    flex-direction: row;
    height: 100%;
}
  
.img-fluid{
    height: 50px;
    width: 120px;
}

.cont-nav-profile{
    display: flex;
    flex-direction: row;
    /* align-items: center; */
}

.bingkai-img{
    display: flex;
    background-color: #1F3C78;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    border-radius: 10px;
    margin: 0px 0px;
}

.cont-dis-profile{
    // border: 1px solid black; 
    height: 50px;
    display: flex;
    flex-direction: column;
    padding: 0px 5px;
}

.cont-dis-profile .cont-name {
    // display:  flex;
    // align-items: center;
    // border: 1px solid black;
    height: 17;
    padding: 0px 7px;
}

.name{
    font-size: 18px;
    // border: 1px solid black;
    display: block;
    height: 100%;
    color: black;
    font-weight: bold;
}

.cont-nav-profile .bingkai-img .img-fluid{
    height: 30px;
    width: 30px;
}