.container h2 {
  margin: 20px 10px;
  color: black;
  font-weight: bold;
}

.cont-content-dashboard {
  background-color: white;
  border-radius: 20px;
  margin-bottom: 20px;
  padding: 20px 0px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
}

.cont-img-intro {
  display: flex;
  flex-direction: row;
  height: 250px;
  width: 100%;
}

.cont-img-intro img {
  height: 100%;
  width: 40%;
}

.cont-img-intro .cont-intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 60%;
  background: linear-gradient(to right, white, #FEE67E);
}

.cont-img-intro .cont-intro p:first-child {
  font-size: 18px;
  color: #555555;
}

.cont-img-intro .cont-intro p:last-child {
  font-size: 32px;
  font-weight: bold;
}

.card-body {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-column-gap: 20px;
  flex-direction: row;
  width: 100%;
  border-radius: 20px;
}

.card-body .dashboard-item {
  display: flex;
  justify-content: center;
  height: 350px;
  width: 100%;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: white;
}

.card-body .dashboard-item a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.card-body .dashboard-item a img {
  height: 200px;
  width: 150px;
}

.card-body .dashboard-item a .badge {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  background-color: red;
  border-radius: 100%;
  position: relative;
}

.card-body .dashboard-item a .badge:empty {
  display: none;
}

.card-body .dashboard-item a .badge p {
  color: white;
  font-size: 20px;
  text-align: center;
  margin-top: 15px;
  text-decoration: none;
}

.card-body .dashboard-item a p {
  text-decoration: none;
}

.card-body .dashboard-item:hover {
  background-color: #E2E8F5;
  opacity: 0.5;
  cursor: pointer;
}


