body {
  background-color: #ffffff;
}

#fromLogin {
  margin-left: 30px;
  right: 50px;
}

.login-card {
  margin-bottom: 200px;
  border: solid 1px;
}

.backgroundLogin {
  position: absolute;
  width: 58%;
  height: 106%;
  left: -10%;
  top: -6%;
  background: url(/image/background-login.png);
  z-index: 1;
}

.imgText1Login {
  width: 391px;
  height: 40px;
  left: 10%;
  top: 11%;
  position: absolute;
  background: url(/image/Collect-Your-Reward.png);
  z-index: 2;
}

.imgText2Login {
  width: 331px;
  height: 230px;
  left: 14%;
  top: 30%;
  position: absolute;
  background: url(/image/undraw_wallet_aym5.png);
  z-index: 2;
}

.background {
  position: absolute;
  width: 50%;
  height: 104%;
  left: 50%;
  top: -4%;
  background: url(/image/background-login2.png);
  z-index: 1;
}

.imgText1 {
  width: 200px;
  height: 40px;
  left: 57%;
  top: 10%;
  position: absolute;
  background: url(/image/join-now.png);
  z-index: 2;
}

.imgText2 {
  width: 257px;
  height: 40px;
  left: 70%;
  top: 20%;
  position: absolute;
  background: url(/image/and-get-Reward.png);
  z-index: 2;
}

.imgText3 {
  width: 500px;
  height: 350px;
  left: 55%;
  top: 30%;
  position: absolute;
  background: url(/image/registerimg.png);
  z-index: 2;
}

.card {
  border: 1px solid #1f3c78;
}

#fromRegistrasi {
  margin-right: 30px;
  left: 50px;
}

.title {
  text-align: center;
  padding: 10px;
  font-weight: bold;
  font-size: 25px;
}

.form-group {
  display: block;
  align-items: center;
  justify-content: center;
  display: flex;
}

.itemInput {
  border-radius: 10px;
  width: 100%;
}

.itemBtn {
  width: 100%;
}

.logo {
  width: 100px;
}

.nav-item {
  border-radius: 10px;
  padding: 0px 30px;
  margin-right: 5px;
  font-weight: bold;
}

.nav-link {
  color: #1F3C78 !important;
  text-decoration: underline;
}

.nav-item.active {
  background-color: #1F3C78;
  border-radius: 8px;
  padding: 0px 30px;
  margin-right: 5px;
  font-weight: bold;
}

.nav-link.active {
  color: white !important;
  text-decoration: none;
}

form img {
  cursor: pointer;
}


