[data-tip] {
  position: relative;
}

[data-tip]:before {
  content: "";
  /* hides the tooltip when not hovered */
  display: none;
  content: "";
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #1a1a1a;
  position: absolute;
  top: 28px;
  left: 50%;
  z-index: 8;
  font-size: 0;
  line-height: 0;
  width: 0;
  height: 0;
}

[data-tip]:after {
  display: none;
  content: attr(data-tip);
  position: absolute;
  top: 33px;
  left: 20%;
  padding: 5px 8px;
  background: #1a1a1a;
  color: #fff;
  z-index: 9;
  font-size: 0.75em;
  height: 24px;
  line-height: 18px;
  border-radius: 3px;
  white-space: nowrap;
  word-wrap: normal;
}

[data-tip]:hover:before,
[data-tip]:hover:after {
  display: block;
}

.card-body input,
.card-body textarea {
  width: 100%;
  border-radius: 10px;
  border-color: #1F3C78;
  border: solid 2px;
  box-shadow: none;
  outline: none;
}

.card-body button {
  border-radius: 10px;
  background-color: #1F3C78;
  color: #ffffff;
  font-weight: bold;
  padding: 5px 40px;
  float: right;
}


