.opening {
  font-family: roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 20px;
}

span.opening {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  color: #C4C4C4;
}

.card {
  width: 100%;
  margin-top: 10px;
}

.card-header {
  border: none;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-weight: bold;
}

.seeAll {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  color: #0075FF;
  font-size: 12px;
  cursor: pointer;
  text-decoration: underline;
}

footer div {
  width: 100%;
  background-color: #FACC07;
  z-index: 10;
  text-align: center;
  height: 42px;
  line-height: 20px;
  position: fixed;
  top: 97%;
  display: block;
}

.table-recentTransaksi {
  width: 100%;
}

.table-recentTransaksi th {
  font-size: 12px;
  padding: 5px 0px;
}

.table-recentTransaksi td {
  font-size: 12px;
  padding: 5px 0px;
}

.point {
  margin-bottom: 20px;
}

.point .logo {
  width: 60px;
}

.point .title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  padding: 0px 5px;
}

.point .number {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  color: #0075FF;
  padding: 0px 5px;
}

.recentReward {
  background: linear-gradient(180deg, #FFFFFF 19.27%, #E2E8F5 100%);
  border: 1px solid;
  border-image-source: linear-gradient(0deg, #000000, #000000), linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 10px;
  border: none;
}

.table-recentReward {
  width: 100%;
}

.table-recentReward th {
  font-size: 10px;
  padding: 5px 0px;
}

.table-recentReward td {
  font-size: 10px;
  padding: 5px 0px;
}

.ellipsis {
  max-width: 40px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.card-body.point {
  padding: 10px !important;
}

.recentWithdraw {
  background: linear-gradient(180deg, #FFFFFF 38.02%, #FEE67E 100%);
  background: linear-gradient(180deg, #FFFFFF 38.02%, #FEE67E 100%);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 10px;
  margin-top: 20px;
}

.table-recentWithdraw {
  width: 100%;
}

.table-recentWithdraw th {
  font-size: 10px;
  padding: 5px 0px;
}

.table-recentWithdraw td {
  font-size: 10px;
  padding: 5px 0px;
}

.card.recentHistory {
  position: absolute;
  border-radius: 10px;
  height: 175%;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.25);
  padding-left: 10px;
  padding-right: 10px;
}

.card.graph {
  background: linear-gradient(180deg, #FFFFFF 19.27%, #E2E8F5 100%);
  border-image-source: linear-gradient(0deg, #000000, #000000), linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.card.recentTransaksi {
  background: linear-gradient(180deg, #FFFFFF 38.02%, #FEE67E 100%);
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.25);
  background: linear-gradient(180deg, #FFFFFF 38.02%, #FEE67E 100%);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}


