body {
  background-color: #ffffff !important;
}

.container {
  padding: 0% !important;
  margin-top: 0px !important;
  margin: 0px !important;
  padding-bottom: 50px;
}

.box {
  position: relative;
  padding: 0em 2em;
  border: solid 1px #ffffff;
  width: 100%;
  background: url(/image/background-reward.png);
  display: block;
}

.box-body {
  padding: 0em 2em;
}

.box2 {
  position: relative;
  padding: 0em 2em;
  border: none 1px;
  width: 100%;
  background: url(/image/background-reward2.png);
}

.box2-body {
  padding: 0em 2em;
}

.point .title {
  font-size: 25px !important;
  color: #1F3C78;
}

.point {
  margin-bottom: 100px;
}

.point .point {
  font-size: 25px !important;
  color: #1F3C78;
}

.point .btn-success {
  padding: 2px;
  font-size: 20px !important;
  vertical-align: middle;
}

.chart {
  margin-top: 20px;
  margin-bottom: 30px;
}

.date {
  margin-left: 0px;
}

.datepicker {
  border: none;
  width: 170px;
}

.table-recentReward th {
  font-size: 16px !important;
}

.table-recentReward td {
  font-size: 14px !important;
}

.table-recentReward p {
  font-weight: bold;
}

.card {
  position: absolute;
  width: 40%;
  left: 8%;
  top: 10%;
  margin-top: 0px !important;
}

.card-body {
  width: 40%;
}

.w3-modal-content {
  width: 400px !important;
  text-align: center;
}


